
    <div class="page">
      <div class="page-container">
<div class="container">
  <div class="row">
    <div id="events" class="span4">
      <h4>Upcoming</h4>
      <div class="event">
        <div class="date success">
          <h1>14</h1>
          <h4>NOV</h4>
        </div>
        <h4>Sprint 4</h4>
        <p>2pm @ Convention Center<br />122 Meyran Ave, Pittsburgh PA</p>
      </div>
      <div class="event">
        <div class="date danger">
          <h1>11</h1>
          <h4>NOV</h4>
        </div>
        <h4>Meetup Group</h4>
        <p>2pm @ Convention Center<br />122 Meyran Ave, Pittsburgh PA</p>
      </div>
      <div class="event">
        <div class="date warning">
          <h1>03</h1>
          <h4>NOV</h4>
        </div>
        <h4>Dinner Party</h4>
        <p>2pm @ Convention Center<br />122 Meyran Ave, Pittsburgh PA</p>
      </div>
      <div class="event">
        <div class="date">
          <h1>27</h1>
          <h4>OCT</h4>
        </div>
        <h4>Sprint 3</h4>
        <p>2pm @ Convention Center<br />122 Meyran Ave, Pittsburgh PA</p>
      </div>
      <div class="event">
        <div class="date">
          <h1>20</h1>
          <h4>OCT</h4>
        </div>
        <h4>Birthday Party</h4>
        <p>2pm @ Convention Center<br />122 Meyran Ave, Pittsburgh PA</p>
      </div>
      <div class="event">
        <div class="date success">
          <h1>14</h1>
          <h4>OCT</h4>
        </div>
        <h4>Sprint 4</h4>
        <p>2pm @ Convention Center<br />122 Meyran Ave, Pittsburgh PA</p>
      </div>
      <div class="event">
        <div class="date danger">
          <h1>11</h1>
          <h4>OCT</h4>
        </div>
        <h4>Meetup Group</h4>
        <p>2pm @ Convention Center<br />122 Meyran Ave, Pittsburgh PA</p>
      </div>
      <div class="event">
        <div class="date warning">
          <h1>03</h1>
          <h4>OCT</h4>
        </div>
        <h4>Dinner Party</h4>
        <p>2pm @ Convention Center<br />122 Meyran Ave, Pittsburgh PA</p>
      </div>
      <div class="event">
        <div class="date">
          <h1>27</h1>
          <h4>SEP</h4>
        </div>
        <h4>Sprint 3</h4>
        <p>2pm @ Convention Center<br />122 Meyran Ave, Pittsburgh PA</p>
      </div>
      <div class="event">
        <div class="date">
          <h1>20</h1>
          <h4>SEP</h4>
        </div>
        <h4>Birthday Party</h4>
        <p>2pm @ Convention Center<br />122 Meyran Ave, Pittsburgh PA</p>
      </div>
      <p class="load-more"> <a href="">Load More</a></p>
    </div>
    <div class="span8">
      <div id="calendar"></div>
    </div>
  </div>
</div>
      </div>
    </div>
