<link rel="stylesheet" href="css/jquery.Jcrop.css"/>
<style type="text/css">
    .input[size='4'],.input[cols='4']{width:35px;}
    .input[size='5'],.input[cols='5']{width:50px;}
    .input[size='6'],.input[cols='6']{width:45px;}
    img{float:left}
    label{float:left}
    #myDiv{float:left}
    .image li{ padding:18px;float:left;margin: 20px 10px 0; display: inline}
</style>
<div class="page">
      <div class="page-container">
<div class="container">
  <div class="row">
    <div class="span12 header">
        <ul class="image">
            <li>
      <div>
          <p id="heben">
              <img src=$!path id="heburn"/>
          </p>
        <div class="coordinate">
            <!-- This is the form that our event handler fills -->
            <form id="coords" class="coords"  action="" method="post" onsubmit="return checkCoords();">
                <label>X1 <input type="text" class="input" size="6" id="x1" name="x1" /></label>
                <label>Y1 <input type="text" class="input" size="6" id="y1" name="y1" /></label>
                <label>X2 <input type="text" class="input" size="6" id="x2" name="x2" /></label>
                <label>Y2 <input type="text" class="input" size="6" id="y2" name="y2" /></label>
                <label>W <input type="text" class="input" size="6" id="w" name="w" /></label>
                <label>H <input type="text" class="input" size="6" id="h" name="h" /></label>
                <input type="hidden" name="imgPath" value=$!path></input>
                <button type="button" id="btnId">截取</button>
            </form>
        </div>
        </div>
            </li>
            <li id="myDiv">
                <div id="myDiv"></div>
            </li>
            </ul>
    </div>
  </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/jquery.Jcrop.min.js"></script>
<script src="js/jquery.form.js"></script>
<script type="text/javascript">
    jQuery(function($){
        var jcrop_api;

        $('#heburn').Jcrop({
            onChange: showCoords,
            onSelect: showCoords,
            onRelease: clearCoords
        }, function(){
            jcrop_api = this;
    });

    $('#coords').on('change','input',function(e){
        var x1 = $('#x1').val(),
                x2 = $('#x2').val(),
                y1 = $('#y1').val(),
                y2 = $('#y2').val();

        jcrop_api.setSelect([x1, y1, x2, y2]);
    });
    });

    // Simple event handler, called from onChange and onSelect
    // event handlers, as per the Jcrop invocation above
    function showCoords(c){
        $('#x1').val(c.x);
        $('#y1').val(c.y);
        $('#x2').val(c.x2);
        $('#y2').val(c.y2);
        $('#w').val(c.w);
        $('#h').val(c.h);
    };

    function clearCoords(){
        $('#coords input').val('');
    };
    function checkCoords(){
        if(parseInt($('#x1').val())){
            return true;
        }
        else{
            alert("请选择区域!");
            return false;
        }
    }
    $('#btnId').click(function(){
        if(parseInt($('#w').val())) {
            $('form').ajaxSubmit({
                success: function (responseText) {
                    $('#myDiv').html(responseText);
                }
            });
        }
        else{
            alert("请选择区域!");
        }
    });

</script>