    <div class="page">
      <div class="page-container">
<div class="container">
  <div class="row">
    <div class="span12"><a href="#newUserModal" data-toggle="modal" class="btn pull-right">New User</a>
      <h4 class="header">Users</h4>
      <table class="table table-striped sortable">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Username</th>
            <th>Status</th>
            <th>Date Joined</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>Smith</td>
            <td>jsmith@yahoo.com</td>
            <td>jsmith</td>
            <td><span class="label label-success">Active</span></td>
            <td>2012-04-14</td>
            <td>
              <div class="btn-group">
                <button class="btn">Approve</button>
                <button data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">Edit Username</a><a href="#">Disable Account</a><a href="#">Destroy</a></li>
                </ul>
              </div>
            </td>
          </tr>
          <tr>
            <td>Susan</td>
            <td>Mestas</td>
            <td>sm1268@gmail.com</td>
            <td>maestromestas</td>
            <td><span class="label">Inactive</span></td>
            <td>2012-01-02</td>
            <td>
              <div class="btn-group">
                <button class="btn">Approve</button>
                <button data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">Edit Username</a><a href="#">Disable Account</a><a href="#">Destroy</a></li>
                </ul>
              </div>
            </td>
          </tr>
          <tr>
            <td>Robert</td>
            <td>Jetton</td>
            <td>robbyjet@gmail.com</td>
            <td>jetsetrob</td>
            <td><span class="label label-inverse">Admin</span></td>
            <td>2011-11-12</td>
            <td>
              <div class="btn-group">
                <button class="btn">Approve</button>
                <button data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">Edit Username</a><a href="#">Disable Account</a><a href="#">Destroy</a></li>
                </ul>
              </div>
            </td>
          </tr>
          <tr>
            <td>Kristen</td>
            <td>Heck</td>
            <td>kheck12@aol.com</td>
            <td>heckofathrow</td>
            <td><span class="label label-important">Banned</span></td>
            <td>2012-05-11</td>
            <td>
              <div class="btn-group">
                <button class="btn">Approve</button>
                <button data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">Edit Username</a><a href="#">Disable Account</a><a href="#">Destroy</a></li>
                </ul>
              </div>
            </td>
          </tr>
          <tr>
            <td>Steve</td>
            <td>McMullan</td>
            <td>steveymac@yahoo.com</td>
            <td>orangeego</td>
            <td><span class="label label-inverse">Admin</span></td>
            <td>2010-07-11</td>
            <td>
              <div class="btn-group">
                <button class="btn">Approve</button>
                <button data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">Edit Username</a><a href="#">Disable Account</a><a href="#">Destroy</a></li>
                </ul>
              </div>
            </td>
          </tr>
          <tr>
            <td>Nicole</td>
            <td>Brown</td>
            <td>nikkybrown@aol.com</td>
            <td>nicolebrown</td>
            <td><span class="label label-success">Active</span></td>
            <td>2012-12-04</td>
            <td>
              <div class="btn-group">
                <button class="btn">Approve</button>
                <button data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">Edit Username</a><a href="#">Disable Account</a><a href="#">Destroy</a></li>
                </ul>
              </div>
            </td>
          </tr>
          <tr>
            <td>Lynn</td>
            <td>West</td>
            <td>lynnawest@dayrep.com</td>
            <td>westlynn</td>
            <td><span class="label label-success">Active</span></td>
            <td>2011-03-11</td>
            <td>
              <div class="btn-group">
                <button class="btn">Approve</button>
                <button data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">Edit Username</a><a href="#">Disable Account</a><a href="#">Destroy</a></li>
                </ul>
              </div>
            </td>
          </tr>
          <tr>
            <td>Debbie</td>
            <td>Fava</td>
            <td>dfava69@teleworm.us</td>
            <td>favadebs</td>
            <td><span class="label">Inactive</span></td>
            <td>2012-11-02</td>
            <td>
              <div class="btn-group">
                <button class="btn">Approve</button>
                <button data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">Edit Username</a><a href="#">Disable Account</a><a href="#">Destroy</a></li>
                </ul>
              </div>
            </td>
          </tr>
          <tr>
            <td>Abby</td>
            <td>Zedler</td>
            <td>azed12@school.edu</td>
            <td>azeds</td>
            <td><span class="label">Inactive</span></td>
            <td>2010-11-02</td>
            <td>
              <div class="btn-group">
                <button class="btn">Approve</button>
                <button data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">Edit Username</a><a href="#">Disable Account</a><a href="#">Destroy</a></li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pagination pagination-centered">
        <ul>
          <li class="disabled"><a href="#">&laquo;</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="newUserModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
    <h3>New User</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" />
      <div class="control-group">
        <label for="inputEmail" class="control-label">Email </label>
        <div class="controls">
          <input id="inputEmail" type="text" placeholder="Email" />
        </div>
      </div>
      <div class="control-group">
        <label for="inputCurrentPassword" class="control-label">Username </label>
        <div class="controls">
          <input id="inputCurrentPassword" type="password" placeholder="Username" />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer"><a href="#" data-dismiss="modal" class="btn">Close</a><a href="#" data-dismiss="modal" class="btn btn-primary">Save Changes</a></div>
</div>
      </div>
    </div>