 <footer>
      <div class="container">
        <div class="row">
          <div class="span12">
            <p class="pull-right">The First Affiliated Hospital of Medical College ，Zhejiang University</p>
            <p>&copy; Copyright 2015 浙江大学</p>
          </div>
        </div>
      </div>
    </footer>